html {
    font-size: 14px;
    font-family: "Lucida Console", monospace;
}

.content {
    margin: auto;
    width: 50%;
    width: 80%;
}

.img-icon {
    width: 16px;
    height: 16px;
}

.footer-bar {
    padding-top: 10px;
    text-align: right;
}

@media only screen and (min-width: 700px) {
    .content {width: 700px;}
  }